# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CRADIO_ARTSEY_HIGH_LEFT || SHIELD_CRADIO_ARTSEY_LOW_LEFT || SHIELD_CRADIO_ARTSEY_HIGH_THUMB_LEFT ||SHIELD_CRADIO_ARTSEY_LOW_THUMB_LEFT

config ZMK_KEYBOARD_NAME
	default "Artsey L"

endif
