# Copyright (c) 2021 Mike "KemoNine" Crosson
# SPDX-License-Identifier: MIT

config SHIELD_BLUEHAND_LEFT
	def_bool $(shields_list_contains,bluehand_left)

config SHIELD_BLUEHAND_RIGHT
	def_bool $(shields_list_contains,bluehand_right)
