/*
 * Copyright (c) 2021 Dennis "depadiernos" Padiernos
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Left/Right
#define ARTSEY_LEFT 1

// ARTS Row
#define KEY_A 7
#define KEY_R 6
#define KEY_T 5
#define KEY_S 4
// EYIO Row
#define KEY_E 3
#define KEY_Y 2
#define KEY_I 1
#define KEY_O 0

// Define Offsets
#define LEADING_NONES NONE(0,0,0)
#define MIDDLE_NONES NONE(0, 0, 0)
#define TRAILING_NONES NONE(0, 0, 0)

// Include main artsey.io keymap
#include "../../../artsey.dtsi"
